*.elc
*.log
*.off
*.rbc
*auth*
*cache
*history
.*hist*
.CFUserTextEncoding
.DS_Store
.armitage.prop
.aspell*
.cache
.cake
.cpan*
.cups
.drxrc
.ecb-tip-of-day.el
.eclipse
.emacs*
.fluxbox
.fontconfig
.freemind
.ganttproject
.gem
.gnupg*
.gpg*
.hg*
.ido.last*
.irssi
.jmf
.lesshst
.local
.m2
.macports
.mediathek
.msf3
.multiruby
.netrwhist
.npm
.pgpass
.puppet
.qphone
.rdoc/
.recentf
.ri
.rnd
.ruby_inline
.rvm
.sdedit.conf
.semanticdb
.srecode
.ssh
.subversion
.svn
.synergy.conf
.texlive2009
.tmp*
.vagrant.d
.vim/bundle
.vim/sessions/last.vim
.viminfo
.vimrecent
.vnc
.vpinstall.properties
.vpsuite_installation.xml
.wireshark*
.yjp
.zcompcache
.zcompdump
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Programmierung
Public
Sites
Software
Testzone
Vimball
backup
bin
cache
emacs-libs/ecb
emacs-libs/ess
emacs-libs/nxhtml-2.08/nxhtml/etc/schema/xhtml-loader.rnc
emacs-libs/org-mode
emacs.d_sszuecs.tar.xz
gems
git
gnupg.macgpgsaved.10-07-02_10.16.03
go
hacking
irclogs
irssi_config
iso
jmeter
local
msf3
org
passwords.gpg
patches
pkg_build
rdoc
sbin
scratch
scripts
sniff_packets
specifications
src
test-emacs
tmp
upspin
upspin.io
usr
vagrant
vimrc
vpworkspace
zalando
