[user]
	email = burdz@burdz.net
	name = Matt Burdan\n
[core]
	editor = vim
	hooksPath = /etc/git/hooks/
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
	subranch = "!git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD) $(git symbolic-ref --short HEAD)"
