[submodule "modules/kube-tmux"]
	path = modules/kube-tmux
	url = git://github.com/jonmosco/kube-tmux.git
[submodule "modules/urxvt-perls"]
	path = modules/urxvt-perls
	url = git://github.com/muennich/urxvt-perls.git
